body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 2em 0;
}

header img {
    border-radius: 50%;
    max-width: 150px;
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0 0;
}

.about-me,
.skills,
.more-info {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}
.projects{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

.about-me h2,
.skills h2,
.projects h2,
.more-info h2 {
    color: #3498db;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    background-color: #ecf0f1;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.project-card {
    max-width: 710px;
    margin: 20px;
    padding: 15px;
    background-color: #ecf0f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.more-info p {
    color: #7f8c8d;
}

footer {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 1em 0;
}
